%div#reader_links
  - if current_reader
    - if current_reader.activated?
      %p
        %strong
          = t('hello') 
          = current_reader.name
        %br
        = link_to 'your page', reader_url(current_reader)
        |
        = link_to 'preferences', edit_reader_url(current_reader)
        |
        - if current_reader.is_user?
          = link_to 'admin', admin_pages_url
          |
        = link_to 'log out', reader_logout_url
    -else
      %p= t('check_email_for_activation_message')
  - else
    %p
      = t('to_take_part_please') 
      = link_to 'log in', reader_login_url
      = t('or')
      = link_to 'register', new_reader_url
