%p= t('message_explaination')
%ul.help
  %li
    %code &lt;r:sender:name /&gt;
    = t('sender_name_tag_description')
    %strong
      = "'#{Radiant::Config['reader.mail_from_name']}'."
  %li
    %code &lt;r:sender:email /&gt;
    = t('sender_email_tag_description')
    %strong
    = "'#{Radiant::Config['reader.mail_from_address']}'."
  %li
    %code &lt;r:recipient:name /&gt; 
  %li
    %code &lt;r:recipient:email /&gt;
  %li
    %code &lt;r:recipient:login /&gt;
  %li
    %code &lt;r:recipient:password /&gt; 
    = t('recipient_password_tag_description')
  %li
    %code &lt;r:recipient:url /&gt;
    = t('recipient_url_tag_description')
  %li
    %code &lt;r:recipient:edit_url /&gt; 
    = t('recipient_edit_url_tag_description')
  %li
    %code &lt;r:recipient:activation_url /&gt;
    = t('recipient_activation_url_tag_description')
  %li
    %code &lt;r:recipient:description /&gt;
