%h1= t('remove_reader')

%p= t('confirm_deletion', :permanently_remove => "<strong class='warning'>" + t('permanently_remove') +  "</strong>")

%table.index#readers{:cellpadding=>0, :cellspacing=>0, :border=>0}
  %tbody
    %tr.node.level-1
      %td.reader
        %span.title= @reader.name

- form_for [:admin, @reader], :html => { :method => :delete } do
  %p.buttons
    %input.button{:type=>"submit", :value=>t('delete_reader')}/
    = t('or')
    = link_to t('cancel'), admin_readers_path